<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
  <title>Signup</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #2b5876, #4e4376);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      position: relative;
    }

    .container {
      background: #fff;
      padding: 1.2rem;
      border-radius: 12px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      width: 280px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    form h2 {
      text-align: center;
      margin-bottom: 1rem;
      color: #333;
      font-size: 1.2rem;
    }

    label {
      margin-bottom: 0.2rem;
      font-size: 0.85rem;
      font-weight: bold;
      color: #333;
    }

    input {
      padding: 0.5rem;
      margin-bottom: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 0.9rem;
      transition: border-color 0.3s ease;
    }

    input:focus {
      border-color: #4e4376;
      outline: none;
    }

    button {
      padding: 0.6rem;
      background: #4e4376;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 0.95rem;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-top: 0.4rem;
    }

    button:hover {
      background: #2b5876;
    }

    .note {
      font-size: 0.75rem;
      color: #555;
      text-align: center;
      margin-top: 0.6rem;
    }

    .note a {
      color: #4e4376;
      text-decoration: none;
      font-weight: bold;
    }

    .note a:hover {
      text-decoration: underline;
    }

    .alert {
      padding: 1rem 1.5rem;
      border-radius: 8px;
      margin-bottom: .3rem;
      color: #fff;
      position: relative;
      width: fit-content;
      animation: slideIn 1.5s forwards, pause 3s 0.5s forwards, slideOut 0.5s 3.5s forwards;
      opacity: 0;
      position: relative;
      top: 1rem;
      left: 0.5rem;
    }

    .alert-danger {
      background-color: #e74c3c;
    }

    .alert-success {
      background-color: #2ecc71;
    }

    @keyframes slideIn {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }

      60% {
        transform: translateX(20%);
        opacity: 1;
      }

      80% {
        transform: translateX(-10%);
      }

      100% {
        transform: translateX(0);
      }
    }

    @keyframes pause {

      0%,
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes slideOut {
      0% {
        opacity: 1;
        transform: translateX(0);
      }

      100% {
        opacity: 0;
        transform: translateX(-100%);
      }
    }

    .alert-container {
      position: fixed;
      width: fit-content;
      top: 1rem;
      left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      z-index: 9999;
    }

    /* loading animation starts here */


    #formLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
    }

    .spinner {
      width: 50px;
      height: 50px;
      border: 3px solid #ccc;
      border-top: 3px solid #216abe;
      border-radius: 50%;
      margin-right: 10px;
      animation: spin 1s linear infinite;
    }

    #formLoading.hidden {
      display: none;
    }

    .hide {
      display: none;
    }

    .title {
      color: WHITE;
      font-size: 2rem;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }


    .password-container {
      position: relative;
      display: flex;
      align-items: center;
    }

    .password-container input {
      flex: 1;
      padding-right: 2.5rem;
      /* space for the toggle button */
    }

    .password-container button {
      position: absolute;
      right: 0rem;
      top: -0.4rem;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      color: #333;
    }
  </style>
</head>

<body>
  <div class="alert-container">

    <% if (error && error.length> 0) { %>
      <%error.forEach((msg)=> {%>
        <div class="alert alert-danger">
          <%= msg%>
        </div>
        <%})%>
          <% } %>

            <% if (success && success.length> 0) { %>
              <div class="alert alert-success">
                <%= success[0] %>
              </div>
              <% } %>
  </div>
  <div class="container" id="loginForm">
    <form action="/auth/signup" method="post" id="form">
      <h2>Sign Up</h2>

      <label for="firstname">First name</label>
      <input type="text" name="firstname" id="firstname" placeholder="Jack" required>
      <label for="lastname">Last name</label>
      <input type="text" name="lastname" id="lastname" placeholder="Carr" required>

      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="username" required>

      <label for="password">Password</label>
      <div class="password-container">
        <input type="password" id="password" name="password" placeholder="********" required>
        <button type="button" class="togglePassword">
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
      <label for="confirm">Confirm Password</label>
      <div class="password-container">
        <input type="password" id="confirmPassword" name="confirm" placeholder="********" required>
        <button type="button" class="togglePassword">
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>


      <button type="submit">Sign Up</button>

      <p class="note">Already have an account? <a href="/auth/login">Login</a></p>
    </form>
  </div>

  <div class="hidden" id="formLoading">
    <div class="spinner"></div>
    <h3 class="title">Logging in...</h3>
  </div>
<script>
  document.addEventListener('DOMContentLoaded', () => {

   const loginForm = document.querySelector('#loginForm')
    const loading = document.querySelector('#formLoading')
    const form = document.querySelector('#form')

    
  form.addEventListener('submit', () => {
    loginForm.classList.add('hide')
    loading.classList.remove('hidden')
  })

  const sigupPassword = document.querySelectorAll(".togglePassword")
sigupPassword.forEach(btn => {
    const input = btn.previousElementSibling;
    const icon = btn.querySelector('i')

    btn.addEventListener('click', () => {
        const type = input.getAttribute('type') === 'password' ? "text" : "password";
        input.setAttribute('type', type) 

        icon.classList.toggle('fa-eye-slash')
    })
})
  })

</script>
</body>

</html>