<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/auth/signup" method="post">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" id="firstname" placeholder="Jack" required>
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname" placeholder="Carr" required>
            <label for="username">username</label>
            <input type="text" name="username" id="username" placeholder="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="********" min="8" required>
            <label for="confrim">Confrim Password</label>
            <input type="password" name="confirm" id="confrim" placeholder="********" min="8" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>