<link rel="stylesheet" href="/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
<header>
        <nav class="wrapper">
            <ul>
                <h1 class="logo"><a href="/">File Uploader</a></h1>
                <div class="lists">
                    <li><a href="/folders">All Folders</a></li>
                    <%if(sessionData) { %>
                        <li><a href="/auth/logout">Logout</a></li>
                    <%} else {%>
                        <li><a href="/auth/login">Login</a></li>
                    <%}%>
                </div>
            </ul>
        </nav>
    </header>
