* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    padding: 1rem;
    background-color: cornflowerblue;
    font-size: 1.2rem;
}

.wrapper ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper li {
    list-style: none;
    font-family: "DynaPuff", system-ui;
}

.wrapper ul a {
    color: rgb(12, 17, 28);
    text-decoration: none;
}

.wrapper ul a:hover {
    text-decoration: underline;
}

.lists {
    display: flex;
    gap: 1rem;
}

.logo a{
    font-family: "Italianno", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    color: white;
}