* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
}

 .wrapper {
            margin: 0;
            padding: 1rem;
            background-color: cornflowerblue;
            font-size: 1.2rem;
        }

        .wrapper ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .wrapper h1 {
            font-size: 1.5rem;
        }
        .wrapper li {
            list-style: none;
        }
        .wrapper ul a {
            color: black;
            text-decoration: none;
        }
        .wrapper ul a:hover {
           
            text-decoration: underline;
        }

        .lists {
            display: flex;
            gap: 1rem;
        }